html {
	box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fff;
  font-family: "Dosis", sans-serif;
  line-height: 2.5rem;
}

h1 {
  background-color: #EFEFE9;
  color: #4E2506;
  text-align: center;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}

.beetle-types {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.beetle-types li a{
  background-color: #9A816D;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  border: 0px solid #e2e2e2;
  display: inline-block;
  width: 100%;
}

*, *::before, *::after {
  	box-sizing: inherit;
}
